<div class="wariaty">
  <img src="assets/img/robot-logo.png" />
  <div
    style="
      width: 40%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    <h1>To my kształtujemy przyszłość!</h1>
    <button (click)="goRobotList()" mat-raised-button class="bf-button">
      Spróbuj teraz
    </button>
  </div>
</div>

<div class="additional">
  <div class="mini-additional">
    <h1>Najbardziej nowoczesna technologia</h1>
    <img src="assets/img/metaverse.jpg" />
    <h3>Zanurz się w świat wirtualnej rzeczywistości z Wariat Robotics</h3>
  </div>

  <div class="mini-additional">
    <h1>Pełna swoboda</h1>
    <img src="assets/img/beyer.jpg" />
    <h3>Ruszaj się robotem mobilnym gdziekolwiek chcesz</h3>
  </div>
  <div class="mini-additional">
    <h1>Kamera 360 stopni</h1>
    <img src="assets/img/360.jpg" />
    <h3>Dzięki kamerze 360 widzisz cały otaczający robota świat</h3>
  </div>
  <div class="mini-additional">
    <h1>Nawet w domu!</h1>
    <br /><img src="assets/img/Best-VR-Film.jpg" />
    <h3>Robot na twoją wyłączność gdziekolwiek jesteś. Nawet w domu.</h3>
  </div>
</div>
